@import "vars";
@import "vendor/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: $white;

    font-family: $MainFont;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $primary;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks */
@import "blocks/header";
@import "blocks/container";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/photoshoot";
@import "blocks/photo";
@import "blocks/organizer";
@import "blocks/timetable";
@import "blocks/map";
@import "blocks/reviews";