.btn {
    display: inline-block;
    vertical-align: top;
    padding: 24px 37px;

    background: transparent;
    border: 3px solid $white;
    cursor: pointer;
    border-radius: 3px;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: $white;
    text-decoration: none;

    transition: background-color .3s linear;

    &--white {
        background-color: transparent;

        &:hover {
            background-color: darken($primary, 5%);
        }
    }

    &--blue {
        background-color: $blue;
        box-shadow: 0 7px 17px -10px rgba($blue, .3);

        &:hover {
            background-color: darken($blue, 5%);
        }
    }

    &--show {
        padding: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: $blue;

        &__17px {
            font-size: 17px;
        }
        &__16px {
            font-size: 16px;
        }
        &__14px {
            font-size: 14px;
        }
    }

    &--yellow {
        font-family: $MainFont;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $yellow;
        border: 2px solid $yellow;
        border-radius: 3px;
        padding: 16px 32px;
        transition: all .3s linear;

        &:hover {
            color: $white;
            background-color: $yellow;
        }
    }
}