.organizer {

    // .organizer__container

    &__container {
        display: flex;
        justify-content: center;
        padding: 27px 10px 51px 10px;
        border-bottom: 0.5px solid $gray;
        border-top: 0.5px solid $gray;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    // .organizer__left

    &__left {
        width: 50%;

        @media (max-width: 1000px) {
            width: 100%;
        }
    }

    // .organizer__info

    &__info {
        &:not(:last-child) {
            margin: 0 0 40px 0;
        }
    }

    // .organizer__title

    &__title {
        font-family: $MainFont;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: $primary;
        margin: 0 0 14px 0;
    }

    // .organizer__content

    &__content {
        font-family: $MainFont;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $primary;
        margin: 0 0 5px 0;

        b {
            font-weight: 500;
        }

        p {
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
            
            .dots {
                display: inline;
            }
        }

        &-more {
            display: none;

            &--visible {
                display: block;
            }
        }
    }

    // .organizer__footer

    &__footer {
        display: flex;
        align-items: center;
    }

    // .organizer__more

    &__more {
        display: flex;
        align-items: center;
        
        p {
            margin: 0 10px 0 0;
        }

        img {
            max-width: 100%;
        }
    }

    // .organizer__right

    &__right {
        width: 50%;
        display: flex;
        justify-content: center;

        @media (max-width: 1000px) {
            width: 100%;
            margin: 0 0 20px 0;
        }
    }

    // .organizer__card

    &__card {
        position: relative;
        padding: 30px 0 0 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    // .organizer__avatar

    &__avatar {
        width: 139px;
        height: 139px;
        background: url('./../images/avatar.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 0 15px 0;
    }

    // .organizer__name

    &__name {
        font-family: $MainFont;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: $primary;
        margin: 0 0 7px 0;
    }

    // .organizer__profession

    &__profession {
        font-family: $MainFont;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $primary;
        margin: 0 0 4px 0;

        @media (max-width: 1000px) {
            margin: 0;
        }
    }

    // .organizer__show

    &__show {
        max-width: 250px;
        line-height: 21px;

        @media (max-width: 1000px) {
            font-size: 14px;
        }
    }

    // .organizer__heart

    &__heart {
        position: absolute;
        right: 0;
        top: 0;
        
        svg {
            width: 25px;
            height: 22px;
            fill: $yellow;
            transition: fill .3s linear;

            &:hover {
                fill: darken($color: $yellow, $amount: 10)
            }
        }
    }
}