<div class="booking">
    <div class="booking__container">
        <div class="booking__modal" data-target="booking">
            <h4 class="booking__title">Бронирование</h4>
            <div class="booking__content">
                <div class="booking__row">
                    <label for="" class="booking__label">Дата*</label>
                    <input type="text" class="booking__input" placeholder="Дата">
                </div>
                <div class="booking__row">
                    <label for="" class="booking__label">Email*</label>
                    <input type="email" class="booking__input" placeholder="Электронная почта">
                </div>
                <div class="booking__row">
                    <label for="" class="booking__label">Имя*</label>
                    <input type="text" class="booking__input" placeholder="Имя">
                </div>
                <div class="booking__row">
                    <label for="" class="booking__label">Фамилия*</label>
                    <input type="text" class="booking__input" placeholder="Фамилия">
                </div>
                <div class="booking__row">
                    <label for="" class="booking__label">Телефон*</label>
                    <input type="tel" class="booking__input" placeholder="Телефон">
                </div>
                <div class="booking__row">
                    <label for="" class="booking__label">Данные карты*</label>
                    <div class="booking__data">
                        <input type="text" class="booking__input" placeholder="Номер карты">
                        <input type="text" class="booking__input" placeholder="Срок действия">
                        <input type="text" class="booking__input" placeholder="CVV">
                    </div>
                </div>
            </div>
            <div class="booking__accept">
                <input type="checkbox" class="booking__checkbox" name="" id="accept">
                <label for="accept">
                    Я согласен с пользовательским соглашением и публичной офертой
                </label>
            </div>
            <div class="booking__footer">
                <button class="booking__btn btn btn--orange">Забронировать</button>
            </div>
            <div class="booking__close">
                <div class="booking__line"></div>
            </div>
        </div>
    </div>
</div>