<header class="header">
    <div class="header__container container">
        <a href="index.html" class="header__logo">
            <img src="../assets/images/icon/logo.png" alt="HELYFLY">
        </a>
        <div class="header__contact">
            <span class="header__telephone">Телефон:</span>
            <a href="tel:+88001231212" class="header__num">8(800)-123-12-12</a>
        </div>
        <div class="header__from">
            <p>Москва</p>
        </div>
        <div class="header__icon">
            <img src="../assets/images/icon/avatar.svg" alt="avatar">
        </div>
    </div>
</header>